[submodule "StormByte base"]
	path = thirdparty/StormByte/base
	url = https://github.com/StormBytePP/StormByte.git
[submodule "Opus codec"]
	path = thirdparty/ffmpeg/plugins/opus/src
	url = https://gitlab.xiph.org/xiph/opus.git
[submodule "FDK-AAC codec"]
	path = thirdparty/ffmpeg/plugins/fdk-aac/src
	url = https://github.com/mstorsjo/fdk-aac.git
[submodule "Ogg container"]
	path = thirdparty/ffmpeg/plugins/ogg/src
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "Vorbis codec"]
	path = thirdparty/ffmpeg/plugins/vorbis/src
	url = https://gitlab.xiph.org/xiph/vorbis.git
[submodule "FFmpeg"]
	path = thirdparty/ffmpeg/src
	url = https://gitlab.freedesktop.org/gstreamer/meson-ports/ffmpeg.git
	branch = meson-8.0.1
[submodule "VPX codec"]
	path = thirdparty/ffmpeg/plugins/vpx/src
	url = https://gitlab.freedesktop.org/gstreamer/meson-ports/libvpx.git
[submodule "X264 codec"]
	path = thirdparty/ffmpeg/plugins/x264/src
	url = https://gitlab.freedesktop.org/gstreamer/meson-ports/x264.git
[submodule "X265 codec"]
	path = thirdparty/ffmpeg/plugins/x265/src
	url = https://bitbucket.org/multicoreware/x265_git.git
[submodule "VVenc (H266) codec"]
	path = thirdparty/ffmpeg/plugins/vvenc/src
	url = https://github.com/fraunhoferhhi/vvenc.git
[submodule "MP3 LAME codec"]
	path = thirdparty/ffmpeg/plugins/mp3lame/src
	url = https://github.com/lameproject/lame.git
[submodule "StormByte Build Master"]
	path = thirdparty/buildmaster
	url = https://github.com/StormBytePP/StormByte-BuildMaster.git
[submodule "VMAF library"]
	path = thirdparty/ffmpeg/plugins/vmaf/src
	url = https://github.com/Netflix/vmaf.git
