[submodule "thirdparty/StormByte/base"]
	path = thirdparty/StormByte/base
	url = https://github.com/StormBytePP/StormByte.git
[submodule "thirdparty/ffmpeg/codecs/opus/src"]
	path = thirdparty/ffmpeg/codecs/opus/src
	url = https://gitlab.xiph.org/xiph/opus.git
[submodule "thirdparty/ffmpeg/codecs/fdk_aac/src"]
	path = thirdparty/ffmpeg/codecs/fdk_aac/src
	url = https://github.com/mstorsjo/fdk-aac.git
[submodule "thirdparty/ffmpeg/containers/ogg/src"]
	path = thirdparty/ffmpeg/containers/ogg/src
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "thirdparty/ffmpeg/codecs/vorbis/src"]
	path = thirdparty/ffmpeg/codecs/vorbis/src
	url = https://gitlab.xiph.org/xiph/vorbis.git
[submodule "thirdparty/ffmpeg/src"]
	path = thirdparty/ffmpeg/src
	url = https://gitlab.freedesktop.org/gstreamer/meson-ports/ffmpeg.git
	branch = meson-8.0.1
[submodule "thirdparty/ffmpeg/codecs/vpx/src"]
	path = thirdparty/ffmpeg/codecs/vpx/src
	url = https://gitlab.freedesktop.org/gstreamer/meson-ports/libvpx.git
[submodule "thirdparty/ffmpeg/codecs/x264/src"]
	path = thirdparty/ffmpeg/codecs/x264/src
	url = https://gitlab.freedesktop.org/gstreamer/meson-ports/x264.git
[submodule "thirdparty/ffmpeg/codecs/x265/src"]
	path = thirdparty/ffmpeg/codecs/x265/src
	url = https://github.com/videolan/x265.git
