name: CMake

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  BUILD_TYPE: Debug

jobs:
  build-linux:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        compiler: [gcc, clang]
        stdlib: [libstdc++, libc++]
        ffmpeg: [SYSTEM, BUNDLED]
        exclude:
        - compiler: gcc
          stdlib: libc++
        - stdlib: libc++
          ffmpeg: SYSTEM
    name: ${{ matrix.compiler }}-${{ matrix.stdlib }}-ffmpeg-${{ matrix.ffmpeg }}

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install toolchain
      id: install-toolchain
      uses: stormbytepp/install-toolchain@v1
      with:
        compiler: ${{ matrix.compiler }}

    - name: Cache APT packages
      if: runner.os == 'Linux' && matrix.ffmpeg == 'SYSTEM'
      uses: awalsh128/cache-apt-pkgs-action@v1
      with:
        packages: "pkg-config ffmpeg libavcodec-dev libavformat-dev libavutil-dev libavfilter-dev libswscale-dev libswresample-dev"
        version: ffmpeg-system-v1

    - name: Cache APT packages
      if: runner.os == 'Linux' && matrix.ffmpeg == 'BUNDLED'
      uses: awalsh128/cache-apt-pkgs-action@v1
      with:
        packages: "nasm yasm"
        version: ffmpeg-bundled-v1

    - name: Install APT packages
      if: runner.os == 'Linux' && matrix.ffmpeg == 'SYSTEM'
      run: sudo apt-get install -y pkg-config ffmpeg libavcodec-dev libavformat-dev libavutil-dev libavfilter-dev libswscale-dev libswresample-dev

    - name: Install APT packages
      if: runner.os == 'Linux' && matrix.ffmpeg == 'BUNDLED'
      run: sudo apt-get install -y nasm yasm

    - name: Build with CMake
      uses: ashutoshvarma/action-cmake-build@master
      with:
        build-dir: ${{ github.workspace }}/build
        cc: ${{ steps.install-toolchain.outputs.c_compiler }}
        cxx: ${{ steps.install-toolchain.outputs.cxx_compiler }}
        configure-options: >-
          -G Ninja
          -DENABLE_ASAN=ON
          -DENABLE_TEST=ON
          -DWITH_FFMPEG=${{ matrix.ffmpeg }}
          -DWITH_STORMBYTE=BUNDLED
        build-type: ${{ env.BUILD_TYPE }}
        run-test: true
        ctest-options: --output-on-failure --test-dir ${{ github.workspace }}/build/test

  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        arch:
          - x64

    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install toolchain
        id: install-toolchain
        uses: stormbytepp/install-toolchain@v1
        with:
          compiler: msvc
          arch: ${{ matrix.arch }}

      - name: Build with CMake
        uses: ashutoshvarma/action-cmake-build@master
        with:
          build-dir: ${{ github.workspace }}\build
          configure-options: >-
            -G Ninja
            -DENABLE_TEST=ON
            -DWITH_FFMPEG=BUNDLED
            -DWITH_STORMBYTE=BUNDLED
          build-type: ${{ env.BUILD_TYPE }}

      - name: Copy DLLs
        run: |
          Copy-Item -Path "${{ github.workspace }}\build\thirdparty\StormByte\base\lib\StormByte.dll" -Destination "${{ github.workspace }}\build\test" -Force
          Copy-Item -Path "${{ github.workspace }}\build\lib\StormByte-Multimedia.dll" -Destination "${{ github.workspace }}\build\test" -Force
          
      - name: Run unit tests
        run: ctest --output-on-failure --test-dir ${{ github.workspace }}\build\test

